# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# Test and coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db
